{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jsx-a11y/recommended"],
    "overrides": [
        {
          "files": [
            "**/*.spec.js",
            "**/*.spec.jsx",
            "**/*.test.jsx"
          ],
          "env": {
            "jest": true
          }
        }
      ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "double"],
        "react/prop-types": "off"
    },
    "root": true
}