.category-card {
    display: flex;
    justify-content: space-between;
    padding: 4.8rem 0;
    position: relative;
    box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.15);
    img {
        width: 30rem;
    }
    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .category-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        flex-grow: 2;
    }
    .category-name {
        font-size: 3rem;
        font-weight: 700;
    }
    .category-description {
        font-size: 2.4rem;
        font-weight: 500;
        text-align: center;
    }
    .btn-category {
        color: #fff;
    }
    &:last-child {
        box-shadow: none;
    }
}
