@import "../../styles/variables.scss";

.product {
    box-shadow: 10px 0px 10px -8px $color-primary-box-shadow-dark;
    flex: 0 1 24%;
    margin-bottom: 50px;
    height: 45vh;
    padding: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    &__name {
      font-weight: 700;
      min-height: 105px;
      padding: 0 10px;
    }
    &__imageContainer {
      padding: 0 15px 20px 15px;
      &__wrapper {
        &__image {
          width: 100%;
          height: 100%;
        }
      }
      &__mobileTabletLayout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__description {
          background-color: $color-primary-background-light;
          overflow: auto;
          margin: 0 0 5px 5px;
          padding: 0 5px;
          span {
            font-size: 13px;
            font-weight: 600;
            word-break: break-word;
          }
        }
        &__buyNowContainer {
          padding: 0 0 0 5px;
          button {
            color: $color-primary-text-light;
            font-size: 13px;
          }
        }
      }
    }
    &__description {
      background-color: $color-primary-background-light;
      height: 85px;
      margin: 0 10px 15px 10px;
      overflow: auto;
      padding: 0 5px;
      span {
        text-align: justify;
        font-size: 13px;
        font-weight: 600;
      }
    }
    &__buyNowContainer {
      align-items: center;
      border-bottom: 2px dotted $color-primary-border-dark;
      display: flex;
      margin: 0 10px;
      padding: 0 0 10px 0;
      span {
        flex-basis: 50%;
        font-size: 13px;
        font-weight: 600;
      }
      button {
        color: $color-primary-text-light;
        flex-basis: 50%;
        font-size: 12px;
      }
      .cart-button {
        background-color: $color-primary-background;
        border: none;
        border-radius: 50%;
        font-size: 14px;
        line-height: 1.25;
        margin-right: 10px;
        span {
          color: $color-primary-text-light;
        }
        .decrement {
          cursor: pointer;
          padding: 2px;
        }
        .increment {
          cursor: pointer;
        }
      }
      .quantity {
        margin-right: 10px;
      }
    }
  }