.products-section {
    display: flex;
    margin: 0 12%;
    &__plp {
      display: flex;
      flex-basis: 80%;
      flex-wrap: wrap;
      padding: 15px;
    }
    &__mobile-dropdown {
      display: none;
    }
    &__desktop-sidebar {
      display: block;
    }
  }

  @media (max-width: 480px) {
    .products-section {
      margin: 0%;
      flex-direction: column;
      &__plp {
        flex-basis: 100%;
        padding: 30px 10px;
      }
      &__mobile-dropdown {
        display: block;
      }
      &__desktop-sidebar {
        display: none;
      }
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .products-section {
      margin: 0%;
      &__plp {
        flex-basis: 75%;
        padding: 30px 10px;
      }
    }
  }