@import "../../styles/variables.scss";

.header {
    max-height: 9rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.08);
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skb-logo {
        max-width: 15rem;
    }
    .nav-container {
        flex-grow: 2;
        margin-left: 10rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        justify-content: space-around;
    }

    .action-container {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
    }
    .action-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    .cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #efefef;
        gap: 1rem;
    }

    .cart-icon {
        width: 2.4rem;
        height: 2.4rem;
        filter: invert(15%) sepia(79%) saturate(7116%) hue-rotate(332deg)
            brightness(83%) contrast(92%);
    }

    .header-text {
        font-size: 1.6rem;
        font-weight: 600;
        color: #495057;
    }
}
