@import "../../styles/variables.scss";

.header1 {
    max-height: 9rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.08);
    margin-bottom: 2.4rem;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skb-logo {
        max-width: 15rem;
    }
    .nav-container {
        flex-grow: 2;
        margin-left: 10rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        justify-content: space-around;
    }

    .action-container {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
    }
    .action-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    .cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #efefef;
        gap: 1rem;
    }

    .cart-icon {
        width: 2.4rem;
        height: 2.4rem;
        filter: invert(15%) sepia(79%) saturate(7116%) hue-rotate(332deg)
            brightness(83%) contrast(92%);
    }

    .header-text {
        font-size: 1.6rem;
        font-weight: 600;
        color: #495057;
    }
}

.header {
    background-color: $color-primary-white;
    box-shadow: 0 8px 6px -6px $color-primary-box-shadow-light;
    display: flex;
    height: 80px;
    padding: 0 12%;
    position: sticky;
    top: 0;
    z-index: 100;
    .logo-container {
        align-items: center;
        display: flex;
        flex-basis: 15%;
        img {
            max-width: 150px;
        }
    }
    .nav-container {
        display: flex;
        flex-basis: 85%;
        flex-direction: column;
        justify-content: space-between;
        &__quickLinks {
            display: flex;
            flex-basis: 40%;
            justify-content: flex-end;
            a {
                text-decoration: none;
                margin: 0 5px;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
        &__navigation {
            display: flex;
            flex-basis: 60%;
            height: 100%;
            &__links {
                align-items: center;
                display: flex;
                flex-basis: 90%;
                a {
                    text-decoration: none;
                    &:first-child {
                        margin-left: 10%;
                        margin-right: 5%;
                    }
                    span {
                        color: $color-primary-text-dark;
                        font-weight: 600;
                    }
                }
            }
            &__buttonContainer {
                flex-basis: 10%;
                text-align: center;
                button {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    width: 115px;
                    img {
                        filter: invert(24%) sepia(71%) saturate(2418%)
                            hue-rotate(320deg) brightness(82%) contrast(91%);
                        margin-right: 10px;
                        width: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        height: 50px;
        padding: 0;
        .logo-container {
            padding-left: 10px;
            padding-top: 5px;
            img {
                max-width: 90px;
            }
        }
        .nav-container {
            display: block;
            &__navigation {
                flex-direction: row-reverse;
                &__links {
                    display: none;
                }
            }
            &__quickLinks {
                display: none;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header {
        padding: 0;
        .logo-container {
            img {
                max-width: 140px;
            }
        }
        .nav-container {
            &__quickLinks {
                a {
                    &:last-child {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
