.main-height {
    min-height: calc(100vh - 9rem - 4rem);
}

.app-container {
    position: relative;
}

.overlay {
    background-color: #eee;
    opacity: 0.5;
    filter: blur(3px);
    pointer-events: none;
    overflow: hidden;
}
